<!-- Generated template for the VojCard component -->
<div>
  <ion-card>
    <div class="voj-style">
      <!--[ngStyle]="backgroundImage"     style="margin-right: 0;position: absolute;bottom: -8px; padding-left: 0;"-->
      <img [src]="cover" *ngIf="cover"/>
      <div *ngIf="!cover && thumbnail"><br><br></div>
      <ion-item class="voj-style" no-lines>
        <ion-avatar item-left *ngIf="thumbnail">
          <img [src]="thumbnail">
        </ion-avatar>
      </ion-item>
      <ion-list-header class="voj-style" text-center no-padding no-margin no-lines *ngIf="title">{{title}}
      </ion-list-header>
      <ion-item no-lines *ngIf="subtitle1" class="voj-style subtitle">
        <ion-icon [name]="subtitleIcon1" item-start small></ion-icon>
        <h3>{{subtitle1}}</h3>
      </ion-item>
      <ion-item no-lines *ngIf="subtitle2" class="voj-style subtitle">
        <ion-icon [name]="subtitleIcon2" item-start small></ion-icon>
        <h3>{{subtitle2}}</h3></ion-item>
      <ion-card-content class="voj-style" no-margin no-lines *ngIf="content">{{content}}</ion-card-content>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col text-center *ngFor="let button of buttons ">
          <button ion-button icon-left (click)="button.action($event)">{{button.label}}</button></ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="person"></ion-icon>
          <div>12 disponibles</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left outline small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>4 Likes</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="note">
      <ion-col center text-right>
        <ion-note>
          {{note}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
