<!-- Generated template for the VojFooter component -->
<!--div-->
<ion-footer no-border *ngIf="isWeb" transparent>
  <ion-toolbar start>
    <ion-buttons>
      <button ion-button icon-left>
        <ion-icon name="search"></ion-icon>
        Action1
      </button>
      <button ion-button icon-left>
        <ion-icon name="search"></ion-icon>
        Action2
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-navbar> </ion-navbar>
</ion-footer>
<!--/div-->

