<ion-split-pane>

  <!-- logged out menu -->
  <!--ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Listes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <voj-list [title]="listTitle" [cards]="cards"></voj-list>

    </ion-content>

  </ion-menu>

  <!-- logged in menu ->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Liste 2</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <voj-header></voj-header>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main class="voj-style"></ion-nav>
  <ion-nav [root]="rootPage2" #contentMenu swipeBackEnabled="false" id="contenuMenu" class="voj-style"></ion-nav>
  <ion-nav *ngIf="true" [root]="rootPage3" #contentMenu2 swipeBackEnabled="false" id="contenuMenu2" class="voj-style"></ion-nav>
  <voj-footer></voj-footer>
</ion-split-pane>
