<!-- Generated template for the VojHeader component -->
<ion-header no-border>
  <ion-navbar *ngIf="isWeb" class="generic">
    <ion-item class="voj-style" no-lines>
      <button ion-button icon-right outline item-end>
        {{searchButtonTitle}}
        <!--ion-icon name="search"></ion-icon-->
      </button>
      <button ion-button icon-right outline item-end>
        {{offerButtonTitle}}
        <!--ion-icon name="search"></ion-icon-->
      </button>
      <button ion-button icon-right outline item-end>
        {{missionButtonTitle}}
        <!--ion-icon name="search"></ion-icon-->
      </button>
      <button ion-button icon-right outline item-end>
        {{accountButtonTitle}}
        <!--ion-icon name="person"></ion-icon-->
      </button>
    </ion-item>
    <div padding>
      <ion-segment >
        <ion-segment-button value="1" class="voj-style">
          <span ion-text class="voj-style">8</span> Contrats en attente
        </ion-segment-button>
        <ion-segment-button value="3" class="voj-style">
          <span ion-text class="voj-style">3</span>
          Pointages à valider
        </ion-segment-button>
        <ion-segment-button value="4" class="voj-style">
          <span ion-text class="voj-style">0</span>
          Missions à clôturer
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-navbar>

  <!--ion-navbar *ngIf="isViewNavbar && isWeb" >
    <!-- Sub navigation bar, content depends on every view -->
    <!--ion-title>test</ion-title>
  </ion-navbar-->


  <ion-navbar *ngIf="!isWeb">
    <ion-segment [(ngModel)]="icons" color="secondary">
      <ion-segment-button value="camera">
        <!--ion-icon name="camera"></ion-icon-->
        {{firstSegment}}
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <!--ion-icon name="bookmark"></ion-icon-->
        {{secondSegment}}
      </ion-segment-button>
    </ion-segment>
    <ion-buttons start>
      <button ion-fab icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="!isWeb">
    <ion-searchbar></ion-searchbar>
    <ion-searchbar></ion-searchbar>
  </ion-navbar>
</ion-header>
